.logoArea {
  background-image: url("../../assets/suggestions/mobile/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 72px;
  padding: 0 24px;
  user-select: none;
  position: fixed;
  top: 0;
  transform: translateY(0);
  transition: transform .3s;
  &.hidden {
    transform: translateY(-72px);
  }
}
