.logoArea {
  padding: 0 24px;
  background-image: url("../../assets/suggestions/mobile/background-header.png");
  background-repeat: no-repeat;
  height: 72px;
  background-size: cover;
  box-sizing: border-box;
  user-select: none;
}
