.NoFeedbackMobileText {
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 26px;
  font-weight: 700;
}

.FrontendMentorMobileText {
  font-size: 15px;
  letter-spacing: -0.187px;
  line-height: 22px;
  font-weight: 700;
}

.FeedbackBoardMobileText {
  font-size: 13px;
  font-family: Jost;
  line-height: 19px;
  font-weight: 500;
  opacity: 0.75;
}

