@font-face {
  font-family: "Jost";
  src: url("assets/fonts/Jost-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jost";
  src: url("assets/fonts/Jost-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Jost";
  src: url("assets/fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Jost";
  src: url("assets/fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
}

body {
  font-family: Jost, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  height: 100vh;
}
